<!DOCTYPE html>
<html>
<head>
    <title>CDE Unlock</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="session">
        <div class="left">
            <h4>CDE Unlock</h4>
            
            <form method="POST" action="">
                <div class="floating-label">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password() }}
                {{ form.otp }}
                {{ form.submit(class_="button") }}
                </div>
            </form>
        </div>
    </div>
</body>

</html>