<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body class="loginid">
    <div class="session">
        <div class="left">
            <h1>Login auth</h1>
            
            <form method="POST" action="" class="log-in" >
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password() }}
                {{ form.otp }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</body>

</html>