<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

<body>

    <h1>Login auth</h1>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password() }}
        {{ form.otp }}
        {{ form.submit() }}
    </form>
    <label for="secret">Secret Token</label>
    <input type="text" class="form-control" id="secret" value="{{ secret }}" readonly>
    <script>
        function copySecret() {
          /* Get the text field */
          var copyText = document.getElementById("secret");
      
          /* Select the text field */
          copyText.select();
          copyText.setSelectionRange(0, 99999); /*For mobile devices*/
      
          /* Copy the text inside the text field */
          document.execCommand("copy");
      
          alert("Successfully copied TOTP secret token!");
        }
      </script>
</body>

</html>